/**/
     body{
         background-color: skyblue;
    }
    button{
        color: blue;
        font-family: Tims;
        border-radius: 20px;
    }
    #minuteStr {
        color: #ff0000;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ff0000;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

    #remain {
        color: #ff0000;
        background-color:  white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px; width: 50%;
        box-shadow: 5px 5px 5px;
        margin: 0 auto;
    }

    #remain::after{
        content: "秒";
    }
    
    #time {
        color: #ff0000;
        background-color: white;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px; width: 50%;
        box-shadow: 5px 5px 5px;
        margin: 0 auto;
    }

    #time::after{
        content: "秒";
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:37%; height:60px; 
        background-color: white;
        color: blue;
        margin: 0 auto;
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:39%; width:20%; height:60px; 
        background-color: white;
        margin: 0 auto;
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:380px; left:59%; width:22%; height:60px; 
        background: white;
        margin: 0 auto;

    }


    #btnD {
        font-size: 20px;
        position:absolute; top:380px; left:81%; width:16%; height:60px; 
        background: white;
        margin: 0 auto;

    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;
        box-shadow: 3px 3px 3px;
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
        box-shadow: 3px 3px 3px;
    }
    
    input[type=number] {text-align: right;}